node_modules
npm-debug.log
.next
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
.idea
.vscode
.editorconfig
.prettier*
jest.config.js
.turbo
dist
build
coverage
.swc
DEPLOYMENT.md
DEPLOYMENT_QUICK_START.md
OPERATIONS_MODULES.md
